# full folders
.vscode/settings.json
.vscode/symbols.lua
editor/
env/
exceptions/
profiles/
r1m1.bak/
r1m2.bak/
r1m3.bak/
r1m4.bak/
r2m1.bak/
r2m2.bak/
r3m1.bak/
r3m2.bak/
r4m1.bak/
r4m2.bak/
1/
pl/
showcars/
t/
t1/
zoo/
копия (2) showcars/
logs_commod/
mods/
r1m2/
r1m3/
r1m4/
r2m1/
r2m2/
r3m1/
r3m2/
r4m1/
r4m2/
# not used files
datasources.txt
devicecompatible.xml
localDialogs.xml
localQuestInfo.xml
localQuests.xml
memlog.txt
QuestStates.xml
video.xml
# file extensions
*.asm
*.bak
*.bat
*.bin
*.bmp
*.bps
*.cfg
*.cfg_
*.cliff
*.cpt
*.cursor
*.dds
*.dll
*.doc 
*.exe 
*.fx
*.gam
*.sam
*.jpg
*.lnk
*.log 
*.odt
*.ogg
*.pdb
*.png
*.ps 
*.psd
*.py
*.rar
*.raw
*.shader
*.tga
*.tile
*.tmp
*.txt
*.vs 
*.wav
*.wmv
*.zip
*.yaml
*.psys
*.ssl
# add filels
!data/music/silence.ogg
!data/music/mainmenu/*.ogg
!data/if/ico_hd/InventoryDlg/goods/lom_use.dds
!data/if/ico_hd/InventoryDlg/goods/rabochee_oborudovanie_use.dds
!data/if/ico_hd/InventoryDlg/goods/mikro_use.dds
!data/if/ico_hd/InventoryDlg/goods/oil_use.dds
!data/if/ico_hd/InventoryDlg/goods/kanistra_full_use.dds
!data/if/ico_hd/InventoryDlg/goods/kanistra_nil_use.dds
!data/sounds/other/use_items/arm.wav
!data/sounds/other/use_items/life.wav
!data/sounds/other/use_items/oil.wav
!data/models/logos/nomads.dds
!data/models/logos/vagabonds.dds
!data/models/logos/beer.dds
!data/if/ico_hd/clans/bear02.dds
!data/if/ico_hd/clans/usec02.dds
!data/if/ico/clans/scavs02.dds
!data/if/ico/clans/scavs03.dds
!data/if/ico/clans/bear03.dds
!data/if/ico/clans/usec03.dds
!data/sounds/other/petrolstation/fuel_petrol_start.wav
!data/sounds/other/petrolstation/fuel_petrol_process.wav
!data/sounds/other/petrolstation/fuel_petrol_end.wav
!data/sounds/other/gate/opening_gate.wav
!data/sounds/other/gate/opening_gate_end.wav
!data/sounds/other/gate/closed_gate.wav
!data/maps/r1m1/displace.bin
!data/maps/r1m1/passmap.raw
!data/maps/r1m1/player_passmap.bin
!data/maps/r1m1/lightmap_daytime_r1m1.dds
!data/maps/r1m1/lightmap_sunrisetime_r1m1.dds
!data/maps/r1m1/lightmap_sunsettime_r1m1.dds
!data/maps/r1m1/lightmap_nighttime_r1m1.dds
!data/if/ico_hd/inventorydlg/goods/new/building/*.dds
data/if/ico_hd/inventorydlg/goods/new/building/item_bolts2.dds
data/if/ico_hd/inventorydlg/goods/new/building/item_nuts2.dds
!data/if/ico_hd/inventorydlg/goods/new/electronics/*.dds
!data/if/ico_hd/inventorydlg/goods/new/energy/*.dds
!data/if/ico_hd/inventorydlg/goods/new/flammable/*.dds
!data/if/ico_hd/inventorydlg/goods/new/household/*.dds
!data/if/ico_hd/inventorydlg/goods/new/keys/*.dds
!data/if/ico_hd/inventorydlg/goods/new/info/*.dds
!data/if/ico_hd/inventorydlg/goods/new/medical/*.dds
!data/if/ico_hd/inventorydlg/goods/new/other/*.dds
!data/if/ico_hd/inventorydlg/goods/new/tools/*.dds
!data/if/ico_hd/inventorydlg/goods/new/valuables/*.dds
!data/models/goods/info/*.dds
!data/models/goods/info/*.gam
!data/models/goods/other/*.dds
!data/models/goods/other/*.gam
!data/models/objects/box/plastic_barrel_box.gam
!data/models/objects/box/plastic_barrel.dds
!data/models/objects/box/boxbox.gam
!data/models/objects/box/computerbox.dds
!data/models/objects/box/electrobox.dds
!data/models/objects/box/medicalbox.dds
!data/models/objects/box/gunbox.dds
!data/models/objects/box/tehnobox.dds
!data/models/objects/box/toolsbox.dds
!data/models/objects/box/valuablebox.dds
!data/effects/lights/blink.psys
!data/effects/lights/blink1.psys
!data/models/vehicles/fighter/cab03/*.dds
!data/models/vehicles/fighter/cab03/*.bmp
!data/models/vehicles/fighter/cab03/*.tga
!data/models/vehicles/fighter/cab03/cab03.gam
!data/models/vehicles/hunter/cab03/*.dds
!data/models/vehicles/hunter/cab03/*.tga
!data/models/vehicles/hunter/cab03/cab03.gam
!data/models/objects/box/airbox.gam
!data/models/objects/box/airbox.dds
!data/sounds/other/interface/fading_msg.wav
!data/if/ico_hd/inventorydlg/weapon/a_hornet.dds
!data/if/ico_hd/inventorydlg/weapon/a_hornet_min.dds
!data/models/guns/sml_american_hornet01.dds
!data/models/guns/sml_american_hornet01_gun.gam
!data/if/ico_hd/mainmenu/*.dds
data/if/ico_hd/mainmenu/logo_testing2.dds
data/if/ico_hd/mainmenu/logo2.dds
data/if/ico_hd/mainmenu/logo3.dds
data/if/ico_hd/mainmenu/mainmenu_down.dds
data/if/ico_hd/mainmenu/menu_bkg.dds
data/if/ico_hd/mainmenu/noise.dds
data/if/ico_hd/mainmenu/up_light.dds
!data/if/ico_hd/splashwnd/*.dds
data/if/ico_hd/splashwnd/loading_bar.dds
data/if/ico_hd/splashwnd/loading_down.dds
data/if/ico_hd/splashwnd/loading_up.dds
!data/if/ico_hd/splashes/druids.dds