# full folders
.vscode/settings.json
.vscode/symbols.lua
editor/
env/
exceptions/
profiles/
r1m1.bak/
r1m2.bak/
r1m3.bak/
r1m4.bak/
r2m1.bak/
r2m2.bak/
r3m1.bak/
r3m2.bak/
r4m1.bak/
r4m2.bak/
1/
pl/
showcars/
t/
t1/
zoo/
копия (2) showcars/
logs_commod/
mods/
r1m2/
r1m3/
r1m4/
r2m1/
r2m2/
r3m1/
r3m2/
r4m1/
r4m2/
# not used files
datasources.txt
devicecompatible.xml
localDialogs.xml
localQuestInfo.xml
localQuests.xml
memlog.txt
QuestStates.xml
video.xml
# file extensions
*.asm
*.bak
*.bat
*.bin
*.bmp
*.bps
*.cfg
*.cfg_
*.cliff
*.cpt
*.cursor
*.dds
*.dll
*.doc 
*.exe 
*.fx
*.gam
*.sam
*.jpg
*.lnk
*.log 
*.odt
*.ogg
*.pdb
*.png
*.ps 
*.psd
*.py
*.rar
*.raw
*.shader
*.tga
*.tile
*.tmp
*.txt
*.vs 
*.wav
*.wmv
*.zip
*.yaml
*.psys
*.ssl
# add filels
!data/music/silence.ogg
!data/music/mainmenu/*.ogg
!data/if/ico_hd/InventoryDlg/goods/lom_use.dds
!data/if/ico_hd/InventoryDlg/goods/rabochee_oborudovanie_use.dds
!data/if/ico_hd/InventoryDlg/goods/mikro_use.dds
!data/if/ico_hd/InventoryDlg/goods/oil_use.dds
!data/if/ico_hd/InventoryDlg/goods/kanistra_full_use.dds
!data/if/ico_hd/InventoryDlg/goods/kanistra_nil_use.dds
!data/sounds/other/use_items/arm.wav
!data/sounds/other/use_items/life.wav
!data/sounds/other/use_items/oil.wav
!data/models/logos/nomads.dds
!data/models/logos/vagabonds.dds
!data/models/logos/beer.dds
!data/if/ico_hd/clans/bear02.dds
!data/if/ico_hd/clans/usec02.dds
!data/if/ico_hd/clans/petrolstation02.dds
!data/if/ico/clans/petrolstation03.dds
!data/if/ico/clans/scavs03.dds
!data/if/ico/clans/bear03.dds
!data/if/ico/clans/usec03.dds
!data/sounds/other/petrolstation/fuel_petrol_start.wav
!data/sounds/other/petrolstation/fuel_petrol_process.wav
!data/sounds/other/petrolstation/fuel_petrol_end.wav
!data/sounds/other/gate/opening_gate.wav
!data/sounds/other/gate/opening_gate_end.wav
!data/sounds/other/gate/closed_gate.wav
!data/maps/r1m1/displace.bin
!data/maps/r1m1/passmap.raw
!data/maps/r1m1/player_passmap.bin
!data/maps/r1m1/lightmap_daytime_r1m1.dds
!data/maps/r1m1/lightmap_sunrisetime_r1m1.dds
!data/maps/r1m1/lightmap_sunsettime_r1m1.dds
!data/maps/r1m1/lightmap_nighttime_r1m1.dds
!data/if/ico_hd/inventorydlg/goods/new/building/*.dds
data/if/ico_hd/inventorydlg/goods/new/building/item_bolts2.dds
data/if/ico_hd/inventorydlg/goods/new/building/item_nuts2.dds
!data/if/ico_hd/inventorydlg/goods/new/electronics/*.dds
!data/if/ico_hd/inventorydlg/goods/new/energy/*.dds
!data/if/ico_hd/inventorydlg/goods/new/flammable/*.dds
!data/if/ico_hd/inventorydlg/goods/new/household/*.dds
!data/if/ico_hd/inventorydlg/goods/new/keys/*.dds
!data/if/ico_hd/inventorydlg/goods/new/info/*.dds
!data/if/ico_hd/inventorydlg/goods/new/medical/*.dds
!data/if/ico_hd/inventorydlg/goods/new/other/*.dds
!data/if/ico_hd/inventorydlg/goods/new/tools/*.dds
!data/if/ico_hd/inventorydlg/goods/new/valuables/*.dds
!data/if/ico_hd/inventorydlg/goods/new/ammo/*.dds
!data/models/goods/info/*.dds
!data/models/goods/info/*.gam
!data/models/goods/other/*.dds
!data/models/goods/other/*.gam
!data/models/objects/box/plastic_barrel_box.gam
!data/models/objects/box/plastic_barrel.dds
!data/models/objects/box/boxbox.gam
!data/models/objects/box/computerbox.dds
!data/models/objects/box/electrobox.dds
!data/models/objects/box/medicalbox.dds
!data/models/objects/box/gunbox.dds
!data/models/objects/box/tehnobox.dds
!data/models/objects/box/toolsbox.dds
!data/models/objects/box/valuablebox.dds
!data/effects/lights/blink.psys
!data/effects/lights/blink1.psys
!data/models/vehicles/fighter/cab03/*.dds
!data/models/vehicles/fighter/cab03/*.bmp
!data/models/vehicles/fighter/cab03/*.tga
!data/models/vehicles/fighter/cab03/cab03.gam
!data/models/vehicles/hunter/cab03/*.dds
!data/models/vehicles/hunter/cab03/*.tga
!data/models/vehicles/hunter/cab03/cab03.gam
!data/models/objects/box/airbox.gam
!data/models/objects/box/airbox.dds
!data/models/buildings/region0/*.gam
!data/models/buildings/region0/generator/*.gam
!data/models/buildings/region0/generator/*.dds
!data/sounds/other/interface/fading_msg.wav
!data/sounds/other/interface/building.wav
!data/sounds/other/generator/*.wav
!data/sounds/other/chest_scavs/*.ogg
!data/if/ico_hd/inventorydlg/weapon/a_hornet.dds
!data/if/ico_hd/inventorydlg/weapon/a_hornet_min.dds
!data/models/guns/sml_american_hornet01.dds
!data/models/guns/sml_american_hornet01_gun.gam
!data/if/ico_hd/mainmenu/*.dds
data/if/ico_hd/mainmenu/logo_testing2.dds
data/if/ico_hd/mainmenu/logo2.dds
data/if/ico_hd/mainmenu/logo3.dds
data/if/ico_hd/mainmenu/mainmenu_down.dds
data/if/ico_hd/mainmenu/menu_bkg.dds
data/if/ico_hd/mainmenu/noise.dds
data/if/ico_hd/mainmenu/up_light.dds
!data/if/ico_hd/splashwnd/*.dds
data/if/ico_hd/splashwnd/loading_bar.dds
data/if/ico_hd/splashwnd/loading_down.dds
data/if/ico_hd/splashwnd/loading_up.dds
!data/if/ico_hd/splashes/druids.dds
!data/if/ico_hd/splashes/r0m0.dds
!data/if/ico_hd/splashes/dungeon.dds
!data/maps/r0m0/colormap.raw
!data/maps/r0m0/displace.bin
!data/maps/r0m0/level.tile
!data/maps/r0m0/lightmap_daytime_r0m0.dds
!data/maps/r0m0/lightmap_nighttime_r0m0.dds
!data/maps/r0m0/lightmap_sunrisetime_r0m0.dds
!data/maps/r0m0/lightmap_sunsettime_r0m0.dds
!data/maps/r0m0/NormalMap.bin
!data/maps/r0m0/passmap.raw
!data/maps/r0m0/player_passmap.bin
!data/maps/r0m0/QuestStates.xml
!data/maps/r0m0/ShoreLine.bin
!data/maps/r0m0/water.raw
!data/maps/r0m0.ssl
!data/if/map/dungeon.dds
!data/if/map/r1m1.dds
!data/if/ico/talkwithnpcdlg/petrolstation_dlg.dds
!data/if/ico/talkwithnpcdlg/inventory_lvl_2_dlg.dds
!data/if/ico/talkwithnpcdlg/chest_scavs_dlg.dds
!data/if/ico/talkwithnpcdlg/tunel_1_dlg.dds
!data/if/ico/talkwithnpcdlg/tunel_2_dlg.dds
!data/if/ico/talkwithnpcdlg/tunel_3_dlg.dds
!data/if/ico/talkwithnpcdlg/generator_lvl_1_dlg.dds
!data/if/ico/talkwithnpcdlg/generator_lvl_2_dlg.dds
!data/if/ico/talkwithnpcdlg/generator_lvl_3_dlg.dds
!data/if/ico/talkwithnpcdlg/lampposts_dlg.dds
!data/if/ico/talkwithnpcdlg/global_map_dlg.dds
!data/if/ico/talkwithnpcdlg/garage_dlg.dds
!data/if/ico/inventorydlg/cruizer/*.dds
!data/if/ico/globalmap/gmap_line.dds
!data/if/ico_hd/globalmap/*.dds
!data/if/ico_hd/localmap/*.dds
!data/if/ico_hd/motherpanel/close_e.dds
!data/if/ico_hd/motherpanel/close_h.dds
!data/if/ico_hd/motherpanel/close_p.dds
!data/if/ico_hd/questlog/*.dds
data/if/ico_hd/questlog/select_quest.dds
data/if/ico_hd/questlog/unselect_quest.dds
!data/if/ico_hd/radarwnd/icn_navpoint.dds
!data/if/ico_hd/radarwnd/icn_quest-a.dds
!data/if/ico_hd/radarwnd/icn_quest-b.dds
!data/if/ico_hd/radarwnd/icn_arrow_navpoint.dds
!data/if/ico_hd/radarwnd/icn_arrow_quest-a.dds
!data/if/ico_hd/radarwnd/icn_arrow_quest-b.dds
!data/if/ico_hd/radarwnd/radar_fov.dds
!data/if/ico_hd/radarwnd/radar_machine.dds
!data/if/ico_hd/radarwnd/radar_north.dds
!data/if/ico_hd/radarwnd/radar_south.dds
!data/if/ico_hd/radarwnd/truck_ally.dds
!data/if/ico_hd/radarwnd/truck_enemy.dds
!data/if/ico_hd/radarwnd/truck_neutral.dds
!data/if/ico_hd/radarwnd/turret_ally_small.dds
!data/if/ico_hd/radarwnd/turret_ally.dds
!data/if/ico_hd/radarwnd/turret_enemy_small.dds
!data/if/ico_hd/radarwnd/turret_enemy.dds
!data/if/ico_hd/radarwnd/turret_neutral_small.dds
!data/if/ico_hd/radarwnd/turret_neutral.dds
!data/if/ico_hd/garagewnd/vehiclescroll/*.dds
!data/if/ico_hd/garagewnd/icons/*.dds
!data/if/ico_hd/weaponinfolist/*.dds
!data/if/ico_hd/weaponinfolist/weapongroupbuttons/*.dds
!data/if/frames/wshop_button_2add_b_hd.dds
!data/if/frames/wshop_button_2add_hd.dds
!data/if/frames/wshop_button_2sub_b_hd.dds
!data/if/frames/wshop_button_2sub_hd.dds
!data/if/ico_hd/gamemenu/gamemenu_logo_xm.dds
!data/if/ico_hd/radarwnd/efa_top_radar.dds
!data/if/ico_hd/speedometerwnd/efa_top_speedometer.dds
!data/maps/r0m1/colormap.raw
!data/maps/r0m1/displace.bin
!data/maps/r0m1/level.tile
!data/maps/r0m1/lightmap_daytime_r0m1.dds
!data/maps/r0m1/lightmap_nighttime_r0m1.dds
!data/maps/r0m1/lightmap_sunrisetime_r0m1.dds
!data/maps/r0m1/lightmap_sunsettime_r0m1.dds
!data/maps/r0m1/NormalMap.bin
!data/maps/r0m1/passmap.raw
!data/maps/r0m1/player_passmap.bin
!data/maps/r0m1/QuestStates.xml
!data/maps/r0m1/ShoreLine.bin
!data/maps/r0m1/water.raw
!data/maps/r0m1.ssl
!data/models/buildings/domain/post_challenge/*.gam
!data/models/buildings/domain/post_challenge/*.dds
!data/sounds/other/dungeon/*.wav
!data/sounds/other/use_items/*.wav
!data/music/dungeons/*.ogg
!data/if/ico_hd/inventorydlg/weapon/bumblebee_min.dds
!data/if/ico_hd/inventorydlg/weapon/dragon_min.dds
!data/if/ico_hd/inventorydlg/weapon/hammer01_min.dds
!data/if/ico_hd/inventorydlg/weapon/Cyclops_min.dds
!data/if/ico_hd/inventorydlg/weapon/Octopus_min.dds
!data/if/ico_hd/inventorydlg/weapon/swingfire_min.dds
!data/if/ico_hd/inventorydlg/weapon/Storm_min.dds
!data/if/ico_hd/inventorydlg/weapon/Vulcan_min.dds
!data/if/ico_hd/inventorydlg/weapon/Flag_min.dds
!data/if/ico_hd/inventorydlg/weapon/Rainmetal_min.dds
!data/if/ico_hd/inventorydlg/weapon/Rapier_min.dds
!data/if/ico_hd/inventorydlg/weapon/kpvt01_min.dds
!data/if/ico_hd/inventorydlg/weapon/elephant01_min.dds
!data/if/ico_hd/inventorydlg/weapon/hurricane01_min.dds
!data/if/ico_hd/inventorydlg/weapon/odin01_min.dds
!data/if/ico_hd/inventorydlg/weapon/omega01_min.dds
!data/if/ico_hd/inventorydlg/weapon/Hornet_min.dds
!data/if/ico_hd/inventorydlg/weapon/Specter_min.dds
!data/if/ico_hd/inventorydlg/weapon/Pkt_min.dds
!data/if/ico_hd/inventorydlg/weapon/Kord_min.dds
!data/if/ico_hd/inventorydlg/weapon/vector01_min.dds
!data/if/ico_hd/inventorydlg/weapon/maxim01_min.dds
!data/if/ico_hd/inventorydlg/weapon/fagot01_min.dds
!data/if/ico_hd/inventorydlg/weapon/minoykladchik1_min.dds
!data/if/ico_hd/inventorydlg/weapon/gvozdorazbrasivatel_min.dds
!data/if/ico_hd/inventorydlg/weapon/maslorazliv_min.dds
!data/if/ico_hd/inventorydlg/weapon/turboakselerator_min.dds
!data/if/ico_hd/inventorydlg/weapon/mraksidegun_min.dds
!data/if/ico_hd/inventorydlg/weapon/huntersidegun_min.dds
!data/if/ico_hd/inventorydlg/weapon/zeussidegun_min.dds
!data/if/ico_hd/inventorydlg/weapon/marssidegun_min.dds
!data/if/ico_hd/inventorydlg/weapon/hailSideGun_min.dds
!data/if/ico_hd/inventorydlg/weapon/tank_min.dds
!data/if/ico_hd/inventorydlg/weapon/dimzavesa_min.dds

